#leftClickMonth {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 2px;
}
#rightClickMonth {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 2px;
}
#leftClickYear {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 2px;
}
#rightClickYear {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 2px;
}
.dateCell {
  width: 5px;
  height: 5px;
  border: 2px solid black;
  border-radius: 2px;
}
